// src/LoginPage.scss
// Fade-in effect for the main content after splash screen
.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh; // Full height of the viewport
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px solid #ccc; // Light border for the container
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); // Adds a subtle drop shadow

  .login-title {
    margin-top: 60px; // Space above the title
    color: #333; // Dark text for contrast
    margin-bottom: 20px; // Space below the title

    .subtitle {
      display: block;
    }
  }

  .logo-container {
    position: absolute;
    top: -25%; // Position the logo above the container

    .logo {
      height: 150px;
      width: 150px; // Set a fixed size for the logo
      border: 5px solid #ccc; // Light border for the logo
      border-radius: 50%;
    }
  }
}

h2 {
  color: #333; // Dark text for contrast
  font-size: 2rem;
  margin-bottom: 30px;
}

.login-buttons {
  width: 100%;
  max-width: 400px; // Limit the width to avoid too wide buttons
  display: flex;
  flex-direction: column;
  gap: 20px; // Space between buttons
}

.MuiButton-root {
  height: 50px; // Consistent height for the buttons
  font-size: 1rem; // Set a reasonable font size
}

.MuiButton-startIcon {
  margin-right: 10px; // Adjust the icon spacing
}
