// src/SplashScreen.scss

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; // Blue color for splash screen background
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.splash-logo {
  max-width: 200px;
  width: 100%;
  object-fit: contain;
}

// Style for the loading gif image
.loading-image {
  width: 100px; // You can adjust the size of the loading gif
  height: 100px; // Make sure the height and width are the same for a perfect circle
  border-radius: 50%; // Makes the image circular
  object-fit: cover; // Ensures the image fits well within the circle
}

.fade-out {
  animation: fadeOut 1.5s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
